<div class="container" id="aboutus">
<center><h1 style="font-family: 'Courier New', Courier, monospace; font-weight:bold"> About Us</h1>
<center><h4 style="font-family: 'Courier New', Courier, monospace;"> increase your knowlege with us</h4>
</center>
<div class="row">
    <div class="col-md-6 col-12">
    <img src="image/book2.png" height="260px" width="90%"alt="book2">
    </div>
    <div class="col-md-6 col-12">
        <h3 style="color: rgb(35, 122, 223);">Our goal and mission</h3>
        <p style="font-family: 'Courier New', Courier, monospace;font-weight:bold"> At PECNOTE, we're passionate about the power of knowledge sharing.
            Our mission is to provide a platform where people can easily create, share, and discover notes and
              information, making learning and collaboration more accessible than ever before.
               We believe that every individual has valuable insights and knowledge to share, 
               and by connecting and collaborating, we can all learn and grow together.
</p>
    </div>
</div>
</div>
<br><br>