<div class="container" id="ourservices ">
<center><h1 style="font-family: 'Courier New', Courier, monospace; font-weight:bold"> Our services</h1>
<center><h4 style="font-family: 'Courier New', Courier, monospace;"> increase your knowlege with us</h4>
</center><br><br>
<div class="row">
    <div class="col-md-4 col-12">
    <div class="gridestyle">
    <div class="gridhead"><center >SoftcopNote</center></div>
    <div style="padding-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
         when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
    </div>
</div>

<div class="col-md-4 col-12">
    <div class="gridestyle">
    <div class="gridhead"><center>HardcopyNote</center></div>
    <div style="padding-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
         when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
    </div>

</div><div class="col-md-4 col-12">
    <div class="gridestyle">
    <div class="gridhead"><center>Database</center></div>
    <div style="padding-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
         when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
    </div>
</div>
</div>
      <br><br>

    <div class="row">
    <div class="col-md-4 col-12">
    <div class="gridestyle">
    <div class="gridhead" ><center>BackUp</center></div>
    <div style="padding-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
         when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
    </div>
</div><div class="col-md-4 col-12">
    <div class="gridestyle">
    <div class="gridhead"><center>QnA</center></div>
    <div style="padding-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
         when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
    </div>
</div><div class="col-md-4 col-12">
    <div class="gridestyle">
    <div class="gridhead"><center>privacy</center></div>
    <div style="padding-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
         when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
    </div>
    </div>
    </div>
</div>
